<template name="elements">
    <div id={{_id}} class="element-container" data-type="{{type}}"
         style="{{getstyle style}}">
        <p>{{type}}</p>

        <p>{{_id}}</p>
        <!--{{> Template.dynamic template=type}}-->
        <div class="ui-resizable-handle ui-resizable-ne"></div>
        <div class="ui-resizable-handle ui-resizable-n"></div>
        <div class="ui-resizable-handle ui-resizable-nw"></div>
        <div class="ui-resizable-handle ui-resizable-w"></div>
        <div class="ui-resizable-handle ui-resizable-sw"></div>
        <div class="ui-resizable-handle ui-resizable-s"></div>
        <div class="ui-resizable-handle ui-resizable-se"></div>
        <div class="ui-resizable-handle ui-resizable-e"></div>
        <div class="element-draggable"></div>
    </div>
</template>

<!--
    @TODO: create an element's toolbar for each element
    @TODO: create create delete Button and functionality
    @TODO: create copy button only
    @TODO: create copy button's functionality
    @TODO: create rotatable button only (outside element)
    @TODO: create rotatable button's functionality
    @FIXME: when an element is in between two seccions
    @FIXME: pass div[data-content='true'] to Template.elements so we can only use Template.elements to render each element
-->