<template name="elements">
    <div id={{_id}} class="element-container" data-type="{{type}}"
         style="{{getstyle style}}">
        <div class="element-toolbar">
            <button type="button" class="btn btn-primary btn-xs remove">
                <i class="fa fa-times"></i>
            </button>
            <button type="button" class="btn btn-primary btn-xs copy">
                <i class="fa fa-files-o"></i>
            </button>
            <button type="button" class="btn btn-primary btn-xs move">
                <i class="fa fa-arrow-down"></i>
            </button>
            <button type="button" class="btn btn-primary btn-xs options">
                <i class="fa fa-cog"></i>
            </button>
        </div>
        {{> Template.dynamic template=type}}
        <div class="ui-resizable-handle ui-resizable-ne"></div>
        <div class="ui-resizable-handle ui-resizable-n"></div>
        <div class="ui-resizable-handle ui-resizable-nw"></div>
        <div class="ui-resizable-handle ui-resizable-w"></div>
        <div class="ui-resizable-handle ui-resizable-sw"></div>
        <div class="ui-resizable-handle ui-resizable-s"></div>
        <div class="ui-resizable-handle ui-resizable-se"></div>
        <div class="ui-resizable-handle ui-resizable-e"></div>
        <div class="element-draggable"></div>
    </div>
</template>

<!--
    @TODO: create rotatable button only (outside element)
    @TODO: create rotatable button's functionality
-->