div.element-container {
    /*border: black 1px solid;*/
    position: absolute;
}

div.element-container > div.element-toolbar {
    display: none;
    position: absolute;
    right: -24px;
    height: 100%;
    width: 24px;
    background-color: transparent;
}

div.element-container > div.element-toolbar > button.btn-xs {
    height: 24px;
    width: 24px;
}

div.element-container:hover > div.element-toolbar {
    display: block;
}

/*div.element-active*/

div.element-container > div.element-draggable {
    position: absolute;
    top: 3px;
    right: 3px;
    left: 3px;
    bottom: 3px;
    background-color: transparent;
    cursor: move;
    /*background-color: red;*/
}

div.element-container > div.ui-resizable-handle {
    position: absolute;
    background-color: black;
}

div.element-active div.ui-resizable-handle {
    background-color: yellow;
}

div.element-container > div.ui-resizable-ne {
    top: 0;
    right: 0;
    height: 6px;
    width: 6px;
    margin-right: -3px;
    margin-top: -3px;
    cursor: nesw-resize;
}

div.element-container > div.ui-resizable-n {

    top: 0;
    left: 3px;
    right: 3px;
    height: 6px;
    margin-top: -3px;
    cursor: row-resize;
}

div.element-container > div.ui-resizable-nw {
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    cursor: nwse-resize;
}

div.element-container > div.ui-resizable-w {
    width: 6px;
    top: 3px;
    bottom: 3px;
    left: 0;
    margin-left: -3px;
    cursor: col-resize;
}

div.element-container > div.ui-resizable-sw {
    bottom: 0;
    left: 0;
    margin-left: -3px;
    margin-bottom: -3px;
    width: 6px;
    height: 6px;
    cursor: nesw-resize;
}

div.element-container > div.ui-resizable-s {
    bottom: 0;
    left: 3px;
    right: 3px;
    height: 6px;
    margin-bottom: -3px;
    cursor: row-resize;
}

div.element-container > div.ui-resizable-se {
    bottom: 0;
    right: 0;
    width: 6px;
    height: 6px;
    margin-bottom: -3px;
    margin-right: -3px;
    cursor: nwse-resize;
}

div.element-container > div.ui-resizable-e {
    top: 3px;
    bottom: 3px;
    right: 0;
    width: 6px;
    margin-right: -3px;
    cursor: col-resize;
}
