section.sections{
    position: relative;
    width: 1170px;
    border-left:solid gray 1px;
    border-right: solid gray 1px;
    margin: 0 -15px;
    height: 300px;
    background-color: transparent;
}

section.sections div.divisors {
    height: 3px;
    bottom: 0px;
    background-color: black;
    margin-bottom: 2px;
}

section.sections div.cover {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgrey;
}