section.sections{
    position: relative;
    width: 1170px;
    border-left:solid gray 1px;
    border-right: solid gray 1px;
    margin: 0 -15px;
    height: 300px;
}

div.divisors{
    height: 3px;
    bottom: 0px;
    background-color: black;
    margin-bottom: 2px;
}

#vied-header{
    background: url(/section-header.png) center center no-repeat;
}
#vied-body{
    background: url(/section-body.png) center center no-repeat;
}

#vied-footer{
    background: url(/section-footer.png) center center no-repeat;
}

