section.sections {
    width: 100%;

}

section.sections > div.section-body {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
}

section.sections div.divisors {
    height: 3px;
    bottom: 0;
    background-color: black;
    margin-bottom: 2px;
}

section.sections div.cover {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgrey;
}