section.sections {
    position: relative;
    border-bottom: 1px dashed black;
    background-color: transparent;
}

section.sections > div.section-body {
    height: 100%;
    position: relative;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    background-color: transparent;
}

section.sections > div.ui-resizable-s {
    position: absolute;
    padding: 1px 3px;
    cursor: row-resize;
    bottom: 0;
    right: 0;
    margin-bottom: -11px;
}

section.sections div.ui-resizable-s i {
    width: 10px;
    height: 14px;

}

section.sections div.cover {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgrey;
}