<template name="section">
    <section id="{{_id}}" class="sections" data-type="{{type}}" style="height: {{height}};">
        <div class="section-body {{#if fullwidth}}container-fluid{{else}}container{{/if}}" style="{{getstyle style}}">
            {{# each myElements}}
                {{> elements }}
            {{/each}}
        </div>
        <div class="ui-resizable-handle ui-resizable-s">
            <i class="fa fa-sort"></i>
        </div>
    </section>
</template>

<template name="sectionOptions">
    <div id="{{optID}}" role="tabpanel" class="tab-pane fade">
        <span>Full Width</span>

        <div class="onoffswitch">
            <input type="checkbox" name="fullwidth" class="onoffswitch-checkbox"
                   id="full-width-{{_id}}" checked="{{# if checkfullwidth}}checked{{/if}}">
            <label class="onoffswitch-label" for="full-width-{{_id}}">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <div class="form-group">
            <label for="vied-section-bg-{{_id}}">Background Color:</label>
            <input type="color" class="form-control bg-color" id="vied-section-bg-{{_id}}" value="{{bgColor}}">
        </div>
        <p>{{optID}}</p>

        <p>{{label}}</p>
    </div>
</template>
