<template name="section">
    <section id="{{_id}}" class="sections" data-type="{{type}}" style="height: {{height}};">
        <div class="section-body {{#if fullwidth}}container-fluid{{else}}container{{/if}}" style="{{getstyle style}}">
            {{# each myElements}}
                {{> elements }}
            {{/each}}
        </div>
        <div class="ui-resizable-handle ui-resizable-s">
            <i class="fa fa-sort"></i>
        </div>
    </section>
</template>

<template name="sectionOptions">
    <div id="{{optID}}" role="tabpanel" class="tab-pane fade">
        <span>Full Width</span>
        {{> onoffswitch _id=_id id=fullwidthid checked=checkfullwidth name="fullwidth"}}
        {{> onoffswitch _id=_id id=transparentid checked=checktransparent name="transparent"}}
        <div class="form-group">
            <label for="vied-section-bg-{{_id}}">Background Color:</label>
            {{# if checktransparent}}
                <input type="color" class="form-control bg-color" id="vied-section-bg-{{_id}}" value="{{bgColor}}"
                       disabled>
            {{else}}
                <input type="color" class="form-control bg-color" id="vied-section-bg-{{_id}}" value="{{bgColor}}">

            {{/if}}
        </div>
        <p>{{optID}}</p>

        <p>{{label}}</p>
    </div>
</template>
