section.sections {
    position: relative;
}

section.sections > div.section-body {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
}

section.sections > div.ui-resizable-s {
    position: absolute;
    height: 6px;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: -3px;
    background-color: black;
    cursor: row-resize;
}

section.sections div.cover {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgrey;
}