<template name="toolbar">
    <ul id="vied-toolbar">
        {{#each data}}
            <li>
                <div class="tools btn btn-success btn-xs" data-type="{{type}}" title="{{label}}">
                    <i class="fa {{img}}"></i>
                </div>
            </li>
        {{/each}}
        <li>
            <button id="vied-show-opt" type="button" class="btn btn-primary btn-xs" title="Options"
                    data-id="{{_id}}">
                <i class="fa fa-cog"></i>
            </button>
        </li>
        <li>
            <button id="vied-add-section" type="button" class="btn btn-primary btn-xs" title="Add Nex Section">
                <i class="fa fa-plus"></i>
            </button>
        </li>
    </ul>
</template>

