ul#vied-toolbar {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 238px;
}

ul#vied-toolbar li {
    display: inline-block;
}

ul#vied-toolbar li div {
    text-align: center;
}

div#vied-second-toolbar{
    height: 35px;
    width: 824px;
    /*background-color: red;*/
    margin: 0 auto;
    display: none;
}