div#vied-generalopt {
    width: 100%;
}

div#vied-generalopt > ul > li > button {
    background-image: linear-gradient(to bottom, #FFF 0, #E0E0E0 100%);
    border: none;
    padding: 5px 8px;
}

div#vied-generalopt > ul > li.active > button {
    background-image: linear-gradient(to bottom, #337AB7 0, #265A88 100%);
}