<template name="dashboard">
    <div id="vied-dashboard" class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="form-group">
                    <label for="vied-create-page">Create a Page</label>
                    <input type="text" class="form-control" id="vied-create-page" placeholder="Enter a name">
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <button type="button" class="btn btn-primary" id="create-page-id">Create</button>
            </div>
        </div>
    </div>
</template>