div.element-container {
    height: 50px;
    width: 150px;
    border: 1px black solid;
    position: absolute;
}

div.element-container > div.element-draggable {
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    background-color: transparent;
    cursor: move;
}

div.element-container > div.ui-resizable-handle {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background-color: black;
}

div.element-container > div.ui-resizable-ne {
    top: 0px;
    left: 100%;
    margin-left: -3px;
    margin-top: -3px;
    cursor: nesw-resize;
}

div.element-container > div.ui-resizable-n {
    top: 0px;
    left: 50%;
    margin-top: -3px;
    cursor: row-resize;
}

div.element-container > div.ui-resizable-nw {
    top: 0px;
    left: 0px;
    margin-top: -3px;
    margin-left: -3px;
    cursor: nwse-resize;
}

div.element-container > div.ui-resizable-w {
    top: 50%;
    left: 0px;
    margin-left: -3px;
    cursor: col-resize;
}

div.element-container > div.ui-resizable-sw {
    bottom: 0px;
    left: 0px;
    margin-left: -3px;
    margin-bottom: -3px;
    cursor: nesw-resize;
}

div.element-container > div.ui-resizable-s {
    bottom: 0px;
    left: 50%;
    margin-bottom: -3px;
    cursor: row-resize;
}

div.element-container > div.ui-resizable-se {
    bottom: 0px;
    left: 100%;
    margin-bottom: -3px;
    margin-left: -3px;
    cursor: nwse-resize;
}

div.element-container > div.ui-resizable-e {
    top: 50%;
    left: 100%;
    margin-left: -3px;
    cursor: col-resize;
}
