#vied-toolbar-holder {
    height: 30px;
    width: 100%;
    background-color: black;
}

#vied-editor {
    width: 100%;
    background-color: green;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}