<template name="editor">
    <div id="vied-toolbar-holder">
        {{>toolbar}}
    </div>
    <div id="vied-editor" style="{{getstyle sectionStyle}}">
        {{# each sections}}
            {{> section }}
        {{/each}}
    </div>
    <div id="opt-container">
        <div id="element-opt">
            <div id="opt-header">
                <button id="opt-close" type="button" class="btn btn-default">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
    </div>
</template>
