<template name="editor">
    <div id="vied-toolbar-holder">
        {{>toolbar _id=id}}
    </div>
    <div id="vied-editor" style="{{getstyle style}}">
        {{# each sections}}
            {{> section }}
        {{/each}}
    </div>
    <div id="vied-statusbar">
        <div id="vied-statusbar-filler"></div>
        <div id="vied-statusbar-opt1">
            <span class="tag"></span>
            <span class="value"></span>
        </div>
        <div id="vied-statusbar-opt2">
            <span class="tag"></span>
            <span class="value"></span>
        </div>
    </div>
    {{> modal}}
</template>

<template name="editorOptions">
    <div id="vied-page-opt" role="tabpanel" class="tab-pane fade in active">
        <div class="form-group">
            <label for="vied-editor-corlor-bg">Background Color:</label>
            <input type="color" class="form-control" id="vied-editor-corlor-bg" value="{{bgColor}}">
        </div>
    </div>
</template>