div#vied-login div#login-buttons{
    position: absolute;
    width: 57px;
    height: 14px;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -28px;

}

div#vied-login div#login-dropdown-list{
    width: 250px;
    height: 334px;
    top: 50%;
    left: 50%;
    margin-top: -167px;
    margin-left: -125px;
}



div#vied-home{
    flex: 1;
    background-color: aqua;
}